{
    "extends": ["airbnb-base", "node", "prettier"],
    "plugins": ["node", "prettier"],
    "settings": {
        "import/resolver": {
            "node": {"extensions": [".js"]}
        }
    },
    "rules": {
        "arrow-body-style": "off",
        "indent": ["error", 4, {"SwitchCase": 1}],
        "import/prefer-default-export": "off",
        "no-console": "off",
        "prettier/prettier": ["error"]
    }
}
